@font-face {
	font-family: BasisGrotesquePro;
	font-display: swap;
	src: url("../fonts/BasisGrotesquePro-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: BasisGrotesquePro;
	font-display: swap;
	src: url("../fonts/BasisGrotesquePro-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: BasisGrotesquePro;
	font-display: swap;
	src: url("../fonts/BasisGrotesquePro-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
